body {
  background-color: #d9d9e2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}


.container {
  background-color: #1e1e1e;
  color: white;
  padding: 150px 350px;
  border-radius: 20px;
  width: 320px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  text-align: left;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

hr {
  border: none;
  height: 3px;
  background-color: #ccc;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  background-color: #5a5a5a;
  color: white;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #5a5a5a;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0,0,0,0.4);
  margin-top: 20px;
}

button:hover {
  background-color: #777;
}


textarea {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #444;
    color: #fff;
    font-size: 1rem;
    margin-bottom: 8px;
    margin-top: 4px;
    outline: none;
    box-sizing: border-box;
    resize: vertical;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #222;
  color: #fff;
  font-weight: bold;
}

td {
  background-color: #2c2c2c;
  color: #fff;
}

tr:nth-child(even) td {
  background-color: #232323;
}



.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

.nav-links li a:hover {
  background-color: #555;
  border-radius: 5px;
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
}


.container {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.container.show {
  opacity: 1;
  transform: translateY(0);
}

